<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Template</title>
</head>
<body>
<ul>
  {% for x in fruits %}
    <li
      {% if forloop.first %}
        style='background-color:lightblue;'
      {% endif %} {# Everyone#}
          {% if forloop.last %}
        style='background-color:lightblue;'
      {% endif %}
    {% comment "this was the original welcome message" %}
    {% endcomment %}
    >{{ x }}</li>
  {% endfor %}
</ul>

{% include 'footer.html' %}
</body>
</html>